# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.pio/*
.pio/**

**/node_modules/**
**/.venv/*
**/.venv_firmware/*
**/.venv_ms4000/*

# vim swp
**/**.swp

# build this yourself locally
tools/esptool-ck/esptool

# web build product
web/app/build

# compiled python products
**/**.pyc
**/**__pycache__**

#nanopb build
tools/nanopb/build/**

#these should always be generated with the 'make proto' target:
firmware/src/MS4.pb
firmware/src/MS4.pb.c
firmware/src/MS4.pb.h

tools/nanopb/build

# Clion:
**/**.idea
